:root {
	--fontHeading: 'PT Sans', sans-serif;
	--fontParraf: 'Open Sans', sans-serif;
	---bcolor: #121212;
	--bcolorHead: #1e1e1e;
	--colorhead: #f9004d;
	--colorpar: rgb(156 163 175);
}

html {
	box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
	min-height: 100%;

	scroll-behavior: smooth;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
	font-family: var(--fontParraf);
	line-height: 1.8;
	background-color: var(---bcolor);
	color: white;
	min-height: 100%;
}

/** Globals */

.wrapper {
	width: min(90%, 120rem);
	margin: 0 auto;
}
.wrapper2 {
	width: min(90%, 120rem);
	margin: 0 auto;
}

a {
	text-decoration: none;
	font-size: 2rem;
	color: white;
	outline: 0;
}

h1,
h2,
h5 {
	font-family: var(--fontHeading);
}

h1 {
	font-size: 3.8rem;
	font-weight: bold;
}

h2 {
	font-size: 3.5rem;
}

h5 {
	font-size: 1.8rem;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}
/** utilitys **/

.no-margin {
	margin: 0;
}

.center-text {
	text-align: center;
}
/* header */
.hero {
	margin-bottom: 5rem;
	margin-top: 5rem;
}
@media (min-width: 768px) {
}

.hero__logos {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.6rem;
	text-align: center;
}

/* bar nav */

.hero__barconteiner {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 1;

	align-items: center;
}

.hero__barconteiner.barconteiner-fixed {
	background-color: var(--bcolorHead);
}
.hero__bar {
	padding: 1rem 1rem;
}
@media (min-width: 768px) {
	.hero__bar {
		display: flex;
		flex-wrap: wrap;
		gap: 0 1rem;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
	}
}
/* logo nv */
.hero__img {
	display: none;
}
@media (min-width: 867px) {
	.hero__img {
		display: block;
		width: 3.6rem;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		object-fit: contain;
	}
}

.logos__icon {
	color: white;
	font-size: clamp(1rem, 5.5vw, 3.8rem);
}

.logos__tittle {
	color: var(--colorhead);
	line-height: 1.2;
	font-size: clamp(1rem, 5.5vw, 3.8rem);
}
/* toggle */

.bar__toggle {
	color: var(--colorhead);
	background-color: transparent;
	border: none;
	font-size: 6vw;
	padding: 0 1rem;
	display: none;
}

/* nav */
.nav__items {
	text-align: center;
	font-size: clamp(1rem, 4.5vw, 1.5rem);
	color: var(--colorpar);
}

.nav__items:hover {
	color: var(--colorhead);
}

.hero__nav {
	display: flex;
	gap: 2rem;
}

@media (max-width: 768px) {
	.wrapper {
		width: 100%;
		background-color: var(--bcolorHead);
	}

	.bar__toggle {
		display: block;
		position: absolute;
		top: 1.2rem;
		right: 0;
		cursor: pointer;
	}

	.hero__nav {
		flex-direction: column;
		gap: 0;
		text-transform: uppercase;
		width: 100%;
		margin-top: 1rem;
		display: none;
	}
	.hero__logos {
		justify-content: inherit;
	}
	.nav__items {
		width: 100%;
		padding: 0;
	}

	.nav__items:hover {
		background-color: var(---bcolor);
	}

	.hero__nav.active {
		display: flex;
	}
	.bar__toggle:active {
		color: white;
	}
}
/* hero information */
.hero__info {
	width: min(92%, 140rem);
	margin: 2rem auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 44rem), 1fr));
	grid-template-rows: 1fr;
	align-items: center;
	justify-content: space-around;
	grid-auto-flow: row;
	gap: 2rem;
}
@media (min-width: 1414px) {
	.hero__info {
		gap: 9rem;
	}
}
/* hero title */
.hero__texts {
	text-align: start;
	padding-right: 1rem;
	margin: 5rem 0;
}

@media (min-width: 768px) {
	.hero__texts {
		margin: 10rem 0;
		text-align: justify;
	}
}
.hero__tittle {
	color: var(--colorhead);
	line-height: 1.1;
}
.hero__subtitle {
	color: var(--colorpar);
	margin: 0 0 1rem 0;
}
.hero__tittle,
.hero__subtitle {
	padding: 1rem;
	border-left: 3px var(--colorhead) solid;
}
.name {
	color: white;
	font-weight: bold;
	font-size: 4.2rem;
}

/* hero social links */
.hero__links {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.logos__icons {
	font-size: clamp(1rem, 4.5vw + 1.5rem, 3.5rem);
	line-height: inherit;
}
@media (min-width: 768px) {
	.hero__links {
		padding: 1rem 2rem;
	}
}
/* btn download */
.download {
	color: white;
	font-weight: 700;
	background-color: var(--bcolorHead);
	display: block;
	font-size: 1.5rem;
	padding: 0.8rem;
	border: none;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;

	text-align: center;
}

.download:hover {
	color: var(--colorhead);
	background-color: #fff;
	padding: 1rem;
}
.logos__icons:hover {
	background-color: #fff;
	display: inline;
	padding: 0.2rem;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.hero__links:hover,
.logos__icons:hover {
	color: var(--colorhead);
}

/* editor template */
.hero__code {
	background-color: #1e293b;

	max-width: 100rem;
	text-align: center;
}

.code__icons {
	border: 1px solid #334053;
	padding: 0 2rem;
}
.code__editor {
	background-color: #1e293b;
	display: flex;
	flex-direction: column;
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	text-align: start;
	font-size: clamp(0.9rem, 3vw, 1.7rem);
	padding: 0 2rem;
}
.red {
	color: red;
	font-weight: bold;
}
.orange {
	color: orange;
}
.green {
	color: green;
}

.teal {
	color: rgb(14, 231, 231);
}
.amber {
	color: #fbbf24;
}
.white {
	color: white;
	font-weight: 100;
}
/* about setcion */
.about {
	text-align: justify;
	padding: 0 1rem 0 1rem;
}
@media (min-width: 768px) {
	.about {
		padding: 0 2rem 1rem 2rem;
		margin: 0 auto;
	}
}

.about__title {
	font-weight: 900;
	text-align: center;
	margin-bottom: 5rem;
}
.about__par {
	color: var(--colorpar);
	line-height: 1.5;
}
/* services section */
.services {
	padding: 0 1rem 1rem 1rem;
	margin: 2rem 0;
}

.services__title {
	text-align: center;

	font-size: 3.5rem;
	margin-bottom: 5rem;
}
.services__par {
	color: var(--colorpar);
}

/* services grid */
.services__container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 24rem), 1fr));
	gap: 1rem;
	margin: 1rem 0;
}

.services__items {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin: 0 auto;
}

.services__items i {
	font-size: 5rem;
	color: var(--colorhead);
}

@media (min-width: 768px) {
	.services__container {
		grid-template-columns: repeat(auto-fit, minmax(min(100%, 45rem), 1fr));
		gap: 5rem;
		margin: 0 auto;
	}
	.services__items i {
		position: relative;
		top: -2rem;
	}
}
.services__text {
	font-size: 2.5rem;
}

.skills {
	text-align: center;
	margin: 2rem 0;
}

.skills__title {
	margin-bottom: 5rem;
}
.skills__container {
	display: flex;
	gap: 2rem;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	flex-wrap: wrap;
}

.skills__items {
	background-color: var(--bcolorHead);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	font-size: 3rem;
	padding: 2rem;
}

.skills__items:nth-child(0n + 1):hover {
	color: red;
	background-color: white;
}
.skills__items:nth-child(0n + 2):hover {
	color: lightseagreen;
	background-color: white;
}
.skills__items:nth-child(0n + 3):hover {
	color: yellow;
	background-color: white;
}
.skills__items:nth-child(0n + 4):hover {
	color: #c76494;
	background-color: white;
}

.skills__items > span {
	font-weight: 900;
}
.portfolio {
	text-align: center;
}
.portoflio___container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 55rem), 1fr));
	gap: 5rem;
}

@media (min-width: 768px) {
	.portoflio___container {
		grid-template-columns: repeat(auto-fit, minmax(min(100%, 35rem), 1fr));
	}
}
.portfolio__title {
	margin-bottom: 5rem;
}

.portfolio___cards,
.portfolio___cards img {
	background-color: var(--bcolorHead);
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}

.portfolio__title,
.about__title,
.services__title,
.skills__title {
	text-transform: uppercase;
}

input,
textarea {
	color: white;
	font-weight: 700;
}

/*contac form */
.contact_title {
	text-align: center;
}

.form {
	/* border: 1px solid red; */
	padding: 0 25px;
}

.form-group {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-bottom: 2rem;
}

.form-control {
	padding: 15px;
	font-size: 1rem;
	background-color: var(--bcolorHead);
	border: 1px solid transparent;
	border-radius: 8px;
}

.form-control::placeholder {
	color: #fff;
}

.form-control:focus-visible {
	outline: 1px solid lightseagreen;
	border-color: #fff;
}

.btn-form {
	padding: 15px;
	background-color: var(--bcolorHead);
	border: 1px solid transparent;
	border-radius: 8px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	width: 100%;
	display: block;
}
@media (min-width: 768px) {
	.btn-form {
		width: auto;
	}
}

.btn-form:hover {
	background-color: white;
	color: var(--colorhead);
}

.footer__contenedor__texto {
	text-align: center;
	padding: 0 20px;
	font-size: 18px;
}
.separacion {
	padding-top: 2rem;
}
@media (min-width: 768px) {
	.separacion {
		padding-top: 8rem;
	}
}
